<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQLDialect
        </property>
        <property name="hibernate.connection.driver_class">
            com.mysql.jdbc.Driver
        </property>

        <!-- Assume test is the database name -->
        <property name="hibernate.connection.url">
            jdbc:mysql://localhost/test_db
        </property>
        <property name="hibernate.connection.username">
            bodia
        </property>
        <property name="hibernate.connection.password">
            pass
        </property>
        <!--<property name="hbm2ddl.auto">create-drop</property>-->

        <property name="connection.autoReconnect">true</property>
        <property name="connection.autoReconnectForPools">true</property>
        <property name="connection.is-connection-validation-required">true</property>

        <mapping class="net.rwchess.persistent.Member" />
        <mapping class="net.rwchess.persistent.WikiPage" />
        <mapping class="net.rwchess.persistent.Tournament" />
        <mapping class="net.rwchess.persistent.DownloadFile" />
        <mapping class="net.rwchess.persistent.TournamentPlayer" />
        <mapping class="net.rwchess.persistent.TournamentGame" />
    </session-factory>
</hibernate-configuration>
